<p class="tw-text-white tw-font-bold tw-text-2xl">{{ t()('admin.configureMedia.source')
  }}</p>
<p class="tw-text-base tw-font-medium tw-mt-3 tw-mb-2">{{ t()('admin.configureMedia.addMovieSourceLabel') }}</p>
@switch (media().movie.status) {
  @case (MediaSourceStatus.PENDING) {
    <app-file-upload accept=".mp4, .mkv, .webm, .m2ts" [label]="t()('admin.addMediaSource.chooseFile')"
      [disabled]="isUploadingSource" [desciption]="t()('admin.configureMedia.addMovieSourceDescription')"
      styleClass="tw-max-w-xl tw-h-40 tw-mx-auto" ariaLabel="Upload movie source"
      (fileChange)="uploadSource($event)">
    </app-file-upload>
  }
  @case (MediaSourceStatus.PROCESSING) {
    <div class="tw-text-center">
      <i class="ms ms-hourglass-empty tw-text-5xl"></i>
      <p class="tw-text-lg tw-mt-2">{{ t()('admin.media.statusProcessingDescription') }}</p>
      <div class="tw-mt-2">
        <ng-container [ngTemplateOutlet]="deleteSourceButtonTpl"></ng-container>
      </div>
    </div>
  }
  @case (MediaSourceStatus.READY) {
    <div class="tw-flex tw-mb-4">
      <p class="tw-text-base">{{ t()('admin.media.statusReadyDescription') }}</p>
      <div class="tw-ml-auto">
        @if (!showMoviePlayer) {
          <ng-container [ngTemplateOutlet]="sourcePreviewButton"></ng-container>
        }
        <ng-container [ngTemplateOutlet]="deleteSourceButtonTpl"></ng-container>
      </div>
    </div>
    @if (showMoviePlayer) {
      <ng-container [ngTemplateOutlet]="sourcePreview"></ng-container>
    }
  }
  @case (MediaSourceStatus.DONE) {
    <div class="tw-flex tw-mb-4">
      <p class="tw-text-base">{{ t()('admin.media.statusDoneDescription') }}</p>
      <div class="tw-ml-auto">
        @if (!showMoviePlayer) {
          <ng-container [ngTemplateOutlet]="sourcePreviewButton"></ng-container>
        }
        <ng-container [ngTemplateOutlet]="deleteSourceButtonTpl"></ng-container>
      </div>
    </div>
    @if (showMoviePlayer) {
      <ng-container [ngTemplateOutlet]="sourcePreview"></ng-container>
    }
  }
}
<ng-template #deleteSourceButtonTpl>
  <button pButton type="button" class="p-button-danger p-button-outlined tw-ml-2"
    [label]="t()('admin.configureMedia.deleteSource')" (click)="deleteSource($event)">
  </button>
</ng-template>
<ng-template #sourcePreviewButton>
  @if (!showMoviePlayer) {
    <button pButton type="button" class="p-button-secondary"
      [label]="t()('admin.configureMedia.previewSource')" (click)="showSourcePreview()">
    </button>
  }
</ng-template>
<ng-template #sourcePreview>
  <app-video-player [stream]="previewStream"></app-video-player>
</ng-template>
