<div [ngClass]="headerStyleClass">
  <ol class="tw-list-none tw-flex">
    @for (step of steps; track step; let i = $index; let last = $last) {
      <li
        class="tw-flex tw-font-semibold tw-text-base tw-h-auto tw-text-center tw-flex-row-reverse tw-items-center"
        [ngClass]="!last ? 'before:tw-block before:tw-border-t before:tw-border-neutral-625 before:tw-w-full before:tw-mx-auto tw-flex-auto' : 'tw-flex-grow-0'">
      <a class="step-header tw-text-white tw-inline-flex tw-flex-grow tw-flex-shrink-0 tw-basis-auto tw-items-center
          tw-no-underline tw-m-1 tw-p-3 tw-text-inherit tw-rounded-md hover:tw-cursor-pointer
          [&[disabled='true']]:hover:tw-cursor-default" (click)="selectTab(i)"
          [ngClass]="selectedIndex === i ? 'tw-bg-neutral-650' : ''"
          [attr.disabled]="!step.completed && selectedIndex !== i && linear">
          @if (step.stepLabel) {
            <ng-container [ngTemplateOutlet]="step.stepLabel.template">
            </ng-container>
          } @else {
            @if (!step.completed) {
              <span
                class="tw-w-6 tw-h-6 tw-inline-block tw-text-xs tw-p-1 tw-rounded-full tw-bg-blue-500">{{
              i + 1 }}</span>
            } @else {
              <span
                class="ms ms-done tw-w-6 tw-h-6 tw-inline-block tw-text-base tw-leading-4 tw-p-1 tw-rounded-full tw-bg-blue-500">
              </span>
            }
            <span class="header-label tw-ml-2">{{ step.label }}</span>
          }
        </a>
      </li>
    }
  </ol>
</div>
@if (selected) {
  <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
}
