<ng-container *transloco="let t; loadingTpl: loadingSpinner">
  <div class="tw-fixed tw-right-10 tw-top-14 md:tw-top-10 tw-z-50">
    <button type="button" role="button" aria-label="Close dialog" pButton icon="ms ms-close"
      class="p-button-outlined p-button-rounded p-button-secondary p-button-text tw-ml-auto" (click)="closeDialog()">
    </button>
  </div>
  @if (media) {
    <div>
    <app-vertical-tab class="configure-media-tab" height="var(--vert-tab-height)"
      panelStyleClass="tw-max-w-8xl tw-mx-auto tw-my-8" contentStyleClass="tw-ml-8 tw-mr-8 md:tw-mr-24 md:tw-ml-0">
      <!--General info-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.general')" id="general">
        <app-configure-media-form #formCmp [media]="media" [t]="t" [parentDialogRef]="dialogRef"
          (mediaChange)="onFormMediaChange($event)" (updated)="isUpdated = true">
        </app-configure-media-form>
        <ng-template appPanelToast tabId="general"
          styleClass="tw-bg-neutral-850 tw-bg-opacity-80 tw-bottom-4 tw-left-8 tw-right-8 md:tw-right-34 tw-rounded-md tw-z-[101]"
          [visible]="formCmp.updateMediaFormChanged">
          <div class="tw-flex tw-mx-4 tw-my-2 tw-items-center">
            <p class="tw-text-white tw-font-medium">{{ t('admin.configureMedia.unsavedChanges') }}</p>
            <div class="tw-ml-auto" style="height: 40.98px;">
              <div [formGroup]="formCmp.updateMediaForm" class="tw-inline-flex tw-h-full tw-items-center">
                <label for="update-timestamp" class="tw-inline-block tw-text-base">{{
                  t('admin.updateMedia.updateTimestamp') }}</label>
                <p-toggleSwitch formControlName="updateTimestamp" inputId="update-timestamp" styleClass="tw-ml-2"
                  form="update-media-form"></p-toggleSwitch>
              </div>
              <button pButton type="button" [label]="t('admin.updateMedia.cancel')" (click)="formCmp.onUpdateMediaFormReset()"
                class="p-button-text p-button-secondary p-button-sm tw-ml-4" [disabled]="formCmp.updateMediaForm.disabled">
              </button>
              <button pButton type="submit" [label]="t('admin.updateMedia.submit')" form="update-media-form"
                class="p-button-success p-button-sm tw-ml-1" [disabled]="formCmp.updateMediaForm.disabled">
              </button>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <!--Images-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.images')">
        <app-configure-media-images [media]="media" [t]="t" [parentDialogRef]="dialogRef"
          (mediaChange)="onImagesMediaChange($event)" (updated)="isUpdated = true">
        </app-configure-media-images>
      </ng-template>
      <!--Videos-->
      <!--Separator-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.videos')" [separator]="true">
        <app-configure-media-videos [media]="media" [t]="t" [parentDialogRef]="dialogRef"
          (mediaChange)="onVideosMediaChange($event)">
        </app-configure-media-videos>
      </ng-template>
      <!--Subtitles-->
      @if (media.type === MediaType.MOVIE) {
        <ng-template appTabPanel [label]="t('admin.configureMedia.subtitles')">
          <app-configure-media-subtitles [media]="media" [t]="t" [parentDialogRef]="dialogRef"
            (mediaChange)="onSubtitlesMediaChange($event)">
          </app-configure-media-subtitles>
        </ng-template>
        <!--Source-->
        <ng-template appTabPanel [label]="t('admin.configureMedia.source')">
          <app-configure-media-source [media]="media" [t]="t" [parentDialogRef]="dialogRef"
            (mediaChange)="onSourceMediaChange($event)" (updated)="isUpdated = true">
          </app-configure-media-source>
        </ng-template>
      } @else {
        <!--Episodes-->
        <ng-template appTabPanel [label]="t('admin.configureMedia.episodes')">
          <app-configure-media-episodes [media]="media" [t]="t" [parentDialogRef]="dialogRef"
            (mediaChange)="onEpisodesMediaChange($event)" (updated)="isUpdated = true">
          </app-configure-media-episodes>
        </ng-template>
      }
    </app-vertical-tab>
    <p-confirmDialog [blockScroll]="false" key="inModal" [style]="{width: '500px'}" [baseZIndex]="1000"
      acceptButtonStyleClass="p-button-danger p-button-sm"
      rejectButtonStyleClass="p-button-text p-button-secondary p-button-sm" rejectIcon="" acceptIcon=""
      [dismissableMask]="true">
    </p-confirmDialog>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
  }
</ng-container>
<ng-template #loadingSpinner>
  <div class="tw-flex tw-justify-center tw-items-center tw-h-full">
    <p-progressSpinner strokeWidth="3px"></p-progressSpinner>
  </div>
</ng-template>
