<p class="tw-text-white tw-font-bold tw-text-xl">{{ t()('admin.updateCollection.images') }}</p>
<div class="tw-flex tw-flex-wrap tw-mt-3">
  <div class="tw-w-full md:tw-w-1/4">
    <p class="tw-text-white tw-text-base tw-font-medium tw-text-center">{{ t()('admin.media.poster') }}</p>
    <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-xl tw-overflow-hidden tw-mt-2">
      @if (!posterPreviewName) {
        @if (collection().thumbnailPosterUrl; as posterUrl) {
          <img class="tw-object-cover tw-rounded-xl" [lazyLoad]="posterUrl"
            [defaultImage]="collection().posterPlaceholder | thumbhashUrl" [alt]="collection().name"
            errorImage="assets/images/media-poster-error-md.png">
        } @else {
          <img class="tw-object-cover tw-rounded-xl" src="assets/images/media-poster-md.png" loading="lazy" alt="">
        }
      } @else {
        @if (posterPreviewUri) {
          <img class="tw-object-cover tw-rounded-xl" [src]="posterPreviewUri" alt="">
        }
      }
    </div>
    <!--Upload and delete the poster-->
    <div class="tw-flex tw-mt-2">
      <div class="app-action-bar__actions tw-mx-auto">
        @if (!posterPreviewName) {
          <input #inputUploadPoster hidden="true" type="file" id="collection-file-upload-poster"
            onclick="this.value = null" (change)="onInputPosterChange($event)" accept=".jpg, .jpeg, .png"
            [attr.aria-label]="t()('admin.updateCollection.uploadPoster')" />
          <button pButton type="button" icon="ms ms-upload" class="p-button-rounded p-button-text"
            [attr.aria-label]="t()('admin.updateCollection.uploadPoster')" (click)="inputUploadPoster.click()">
          </button>
          <button pButton type="button" icon="ms ms-delete"
            class="p-button-rounded p-button-text p-button-danger" (click)="deletePoster($event)"
            [attr.aria-label]="t()('admin.updateCollection.deletePoster')" [disabled]="!collection().posterUrl">
          </button>
        } @else {
          <!--Save and cancel poster upload-->
          <button pButton type="button" [label]="t()('admin.configureMedia.saveImage')" class="p-button-sm"
            (click)="onUpdatePosterSubmit()" [disabled]="isUpdatingPoster">
          </button>
          <button pButton type="button" [label]="t()('admin.configureMedia.cancelUploadImage')"
            class="p-button-sm p-button-secondary p-button-text" (click)="onUpdatePosterCancel()"
            [disabled]="isUpdatingPoster">
          </button>
        }
      </div>
    </div>
  </div>
  <div class="tw-w-full md:tw-w-3/4 md:tw-pl-4">
    <p class="tw-text-white tw-text-base tw-font-medium tw-text-center">{{ t()('admin.media.backdrop') }}</p>
    <div class="tw-aspect-w-16 tw-aspect-h-9 tw-rounded-xl tw-overflow-hidden tw-mt-2">
      @if (!backdropPreviewName) {
        @if (collection().thumbnailBackdropUrl; as backdropUrl) {
          <img class="tw-object-cover tw-rounded-xl" [lazyLoad]="backdropUrl"
            [defaultImage]="collection().backdropPlaceholder | thumbhashUrl" placeholderStyleClass="tw-rounded-xl"
            [alt]="collection().name" errorImage="assets/images/media-backdrop-error-md.png">
        } @else {
          <img class="tw-object-cover tw-rounded-xl" src="assets/images/media-backdrop-md.png" loading="lazy" alt="">
        }
      } @else {
        @if (backdropPreviewUri) {
          <img class="tw-object-cover tw-rounded-xl" [src]="backdropPreviewUri" alt="">
        }
      }
    </div>
    <!--Upload and delete the backdrop-->
    <div class="tw-flex tw-mt-2">
      <div class="app-action-bar__actions tw-mx-auto">
        @if (!backdropPreviewName) {
          <input #inputUploadBackdrop hidden="true" type="file" id="collection-file-upload-backdrop"
            onclick="this.value = null" (change)="onInputBackdropChange($event)" accept=".jpg, .jpeg, .png"
            [attr.aria-label]="t()('admin.updateCollection.uploadBackdrop')" />
          <button pButton type="button" icon="ms ms-upload" class="p-button-rounded p-button-text"
            [attr.aria-label]="t()('admin.updateCollection.uploadBackdrop')" (click)="inputUploadBackdrop.click()">
          </button>
          <button pButton type="button" icon="ms ms-delete"
            class="p-button-rounded p-button-text p-button-danger" (click)="deleteBackdrop($event)"
            [attr.aria-label]="t()('admin.updateCollection.deleteBackdrop')" [disabled]="!collection().backdropUrl">
          </button>
        } @else {
          <!--Save and cancel backdrop upload-->
          <button pButton type="button" [label]="t()('admin.configureMedia.saveImage')" class="p-button-sm"
            (click)="onUpdateBackdropSubmit()" [disabled]="isUpdatingBackdrop">
          </button>
          <button pButton type="button" [label]="t()('admin.configureMedia.cancelUploadImage')"
            class="p-button-sm p-button-secondary p-button-text" (click)="onUpdateBackdropCancel()"
            [disabled]="isUpdatingBackdrop">
          </button>
        }
      </div>
    </div>
  </div>
</div>
