<div class="app-swiper-root" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="app-swiper-track" [class.app-swiper-touch-disabled]="!allowTouchMove">
    @for (slide of slideTemplates; track slide; let index = $index) {
      <div
        class="app-swiper-slide"
        #slideElement
        [class.app-swiper-slide-active]="index === activeIndex">
        <ng-container *ngTemplateOutlet="slide.template"></ng-container>
      </div>
    }
  </div>

  @if (paginationClickable && slideTemplates.length > 1) {
    <div class="app-swiper-pagination">
      @for (slide of slideTemplates; track slide; let index = $index) {
        <button
          type="button"
          class="app-swiper-bullet"
          [class.app-swiper-bullet-active]="index === activeIndex"
          [attr.aria-label]="'Go to slide ' + (index + 1)"
          (click)="onPaginationClick(index)">
        </button>
      }
    </div>
  }
</div>
